
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>
    <link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.aspnetmvc.min.js"></script>



    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/jquery-confirm-3.3.2/jquery-confirm.min.js"></script>
    @RenderSection("css", required: false)
    <link href="~/lib/jquery-confirm-3.3.2/jquery-confirm.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-5.11.2-web/css/all.min.css" rel="stylesheet">
    <link href="~/lib/jquery-confirm-3.3.2/jquery-confirm.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/css/layoutDesign.style.css" rel="stylesheet" />

</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div>
            <div id="accordion" class="accordion">
                <div class="card mb-0">
                    <a class="nav-link menu-item-not-collapse">
                        <i style="margin-right: 8px;" class="fa fa-eye"></i> Tổng quan
                    </a>
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <span class="menu-item-title-name"><i class="fa fa-cube"></i><a class="card-title"> Hàng hoá</a></span>
                    </div>
                    <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                        <span class="list-of-sub-menu-item">
                            <a class="dropdown-item" href="#"><i class="fa fa-th"></i> Danh mục</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-tags"></i> Thiết lập giá</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-check-square-o"></i> Kiểm kho</a>
                        </span>
                    </div>
                    <a class="nav-link menu-item-not-collapse">
                        <i style="margin-right: 8px;" class="fa fa-table"></i> Phòng bàn
                    </a>
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <span class="menu-item-title-name"><i class="fa fa-exchange"></i><a class="card-title"></i> Giao dịch</a></span>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <span class="list-of-sub-menu-item">
                            <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Hoá đơn</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-reply-all"></i> Trả hàng</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-share-square-o"></i> Nhập hàng</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-share-square"></i>Trả hàng nhập</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-recycle"></i> Xuất huỷ</a>
                        </span>
                    </div>
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        <span class="menu-item-title-name"><i class="fa fa-male"></i><a class="card-title"></i> Đối tác</a></span>
                    </div>
                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <span class="list-of-sub-menu-item">
                            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Khách hàng</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-undo"></i> Nhà cung cấp</a>
                        </span>
                    </div>
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                        <span class="menu-item-title-name"><i class="fa fa-user"></i><a class="card-title"></i> Nhân viên</a></span>
                    </div>
                    <div id="collapseSix" class="collapse" data-parent="#accordion">
                        <span class="list-of-sub-menu-item">
                            <a class="dropdown-item" href="#">Nhân viên</a>
                            <a class="dropdown-item" href="#">Chấm công</a>
                            <a class="dropdown-item" href="#">Bảng tính lương</a>
                            <a class="dropdown-item" href="#">Thiết lập hoa hồng</a>
                        </span>
                    </div>
                    <a class="nav-link menu-item-not-collapse">
                        <i style="margin-right: 8px;" class="fas fa-align-center"></i> Sổ quỹ
                    </a>
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                        <span class="menu-item-title-name"><i class="fas fa-align-center"></i><a class="card-title"></i>  Báo cáo</a></span>
                    </div>
                    <div id="collapse7" class="collapse" data-parent="#accordion">
                        <span class="list-of-sub-menu-item">
                            <a class="dropdown-item" href="#"><i class="fa fa-pie-chart"></i> Cuối ngày</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-clipboard"></i> Bán hàng</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-cube"></i> Hàng hoá</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Khách hàng</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-undo"></i> Nhà cung cấp</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-male"></i> Nhân viên</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-slideshare"></i> Kênh bán hàng</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-line-chart"></i> Tài chính</a>
                        </span>
                    </div>
                    <a class="nav-link menu-item-not-collapse">
                        <i style="margin-right: 8px;" class="fa fa-calendar"></i> Lễ tân
                    </a>
                    <a class="nav-link menu-item-not-collapse">
                        <i style="margin-right: 8px;" class="fa fa-bell"></i> Nhà bếp
                    </a>
                    <a class="nav-link menu-item-not-collapse">
                        <i style="margin-right: 8px;" class="fa fa-file"></i> Thu ngân
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Use any element to open the sidenav -->
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
        <div class="container-wrapper">

            <div class="header-bar">
                <div class="logo">
                    <span id="btn-open-menu-nav-res" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
                    <img src="~/img/kiotvietLogo.png" alt="this is logo" />
                </div>
                <div class="list-of-menu-item-header-bar">
                    <div class="list-of-menu-item-header-bar-left">
                        <div class="menu-item-header-bar">
                            <button class="popper-topic menu-item-header-bar" data-toggle="popover" style="background-color: transparent; border: unset;">
                                <i class="fa fa-paint-brush"></i> Chủ đề
                            </button>
                            <div class="popper-topic-content d-none">
                                <ul class="list-of-color-for-topic">
                                    <li>
                                        <div class="color red-color"></div>
                                    </li>
                                    <li>
                                        <div class="color green-color"></div>
                                    </li>
                                    <li>
                                        <div class="color blue-color"></div>
                                    </li>
                                    <li>
                                        <div class="color yellow-color"></div>
                                    </li>
                                    <li>
                                        <div class="color pink-color"></div>
                                    </li>
                                    <li>
                                        <div class="color orange-color"></div>
                                    </li>
                                    <li>
                                        <div class="color gray-color"></div>
                                    </li>
                                    <li>
                                        <div class="color white-color"></div>
                                    </li>
                                    <li>
                                        <div class="color cyan-color"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="menu-item-header-bar"><i class="fa fa-exclamation-circle"></i> Hỗ trợ</div>
                        <div class="menu-item-header-bar">
                            <button class="popper menu-item-header-bar" data-toggle="popover" style="background-color: transparent; border: unset;">
                                <i class="fa fa-cloud-download"></i> Tải công cụ hỗ trợ
                            </button>
                            <div class="popper-content d-none">
                                <ul class="list-of-tool-to-download">
                                    <li>
                                        <i class="fa fa-search"></i> TeamViewer
                                    </li>
                                    <li>
                                        <i class="fa fa-search"></i> UltraViewer
                                    </li>
                                    <li>
                                        <i class="fa fa-search"></i> AnyDesk
                                    </li>
                                    <li>
                                        <i class="fa fa-search"></i> KiotViet chấm công vân tay
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="menu-item-header-bar"><i class="fa fa-print"></i> Tải KiotViet In bar-bếp</div>
                    </div>
                    <div class="list-of-menu-item-header-bar-right">
                        <div class="menu-item-right-header-bar">
                            @(Html.Kendo().DropDownList()
                                .Name("ThietLap")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                Text = "Thiết lập của hàng",
                                Value = "1"
                                },
                                new SelectListItem() {
                                Text = "Quản lý mẫu tin",
                                Value = "2"
                                },
                                new SelectListItem() {
                                Text = "Quản lý người dùng",
                                Value = "3"
                                },
                                 new SelectListItem() {
                                Text = "Quản lý người dùng",
                                Value = "3"
                                },
                                  new SelectListItem() {
                                Text = "Quản lý người dùng",
                                Value = "3"
                                },
                                   new SelectListItem() {
                                Text = "Quản lý người dùng",
                                Value = "3"
                                },
                                })
                                .Value("1")
                               .HtmlAttributes(new { style = "width: 100%;   padding: 5px;" })
                            )


                        </div>
                        <div class="menu-item-right-header-bar">
                            @(Html.Kendo().DropDownList()
                                .Name("ThietLap1")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                Text = "Thiết lập của hàng",
                                Value = "1"
                                },
                                new SelectListItem() {
                                Text = "Quản lý mẫu tin",
                                Value = "2"
                                },
                                new SelectListItem() {
                                Text = "Quản lý người dùng",
                                Value = "3"
                                },
                                 new SelectListItem() {
                                Text = "Quản lý người dùng",
                                Value = "3"
                                },
                                  new SelectListItem() {
                                Text = "Quản lý người dùng",
                                Value = "3"
                                },
                                   new SelectListItem() {
                                Text = "Quản lý người dùng",
                                Value = "3"
                                },
                                })
                                .Value("1")
                               .HtmlAttributes(new { style = "width: 100%;   padding: 5px;" })
                            )


                        </div>
                    </div>

                </div>
                <div class="list-of-menu-item-header-bar-res">
                    <div class="menu-item-right-header-bar">
                        <div class="btn-group">
                            @(Html.Kendo().DropDownList()
                           .Name("UserName")
                           .DataTextField("Text")
                           .DataValueField("Value")
                           .BindTo(new List<SelectListItem>() {
                           new SelectListItem() {
                           Text = "Thiết lập của hàng",
                           Value = "1"
                           },
                           new SelectListItem() {
                           Text = "Quản lý mẫu tin",
                           Value = "2"
                           },
                           new SelectListItem() {
                           Text = "Quản lý người dùng",
                           Value = "3"
                           },
                            new SelectListItem() {
                           Text = "Quản lý người dùng",
                           Value = "3"
                           },
                             new SelectListItem() {
                           Text = "Quản lý người dùng",
                           Value = "3"
                           },
                              new SelectListItem() {
                           Text = "Quản lý người dùng",
                           Value = "3"
                           },
                           })
                           .Value("1")
                          .HtmlAttributes(new { style = "width: 100%;   padding: 5px;" })
                            )
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-branch-res">
                <div class="menu-item-right-header-bar">
                    <div class="btn-group" style="width: 100%;">
                        @(Html.Kendo().DropDownList()
                         .Name("MenuMobile")
                         .DataTextField("Text")
                         .DataValueField("Value")
                         .BindTo(new List<SelectListItem>() {
                         new SelectListItem() {
                         Text = "Thiết lập của hàng",
                         Value = "1"
                         },
                         new SelectListItem() {
                         Text = "Quản lý mẫu tin",
                         Value = "2"
                         },
                         new SelectListItem() {
                         Text = "Quản lý người dùng",
                         Value = "3"
                         },
                          new SelectListItem() {
                         Text = "Quản lý người dùng",
                         Value = "3"
                         },
                           new SelectListItem() {
                         Text = "Quản lý người dùng",
                         Value = "3"
                         },
                            new SelectListItem() {
                         Text = "Quản lý người dùng",
                         Value = "3"
                         },
                         })
                         .Value("1")
                        .HtmlAttributes(new { style = "width: 100%;   padding: 5px;" })
                        )
                    </div>
                </div>

            </div>
            <div class="nav-menu-bar">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #2e94da !important; padding: 0">
                    <div class="collapse navbar-collapse nav-main-menu-header " id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto" data-hover="dropdown">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-eye"></i> Tổng quan</a>
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cube"></i> Hàng hoá
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#"><i class="fa fa-th"></i> Danh mục</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-tags"></i> Thiết lập giá</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-check-square-o"></i> Kiểm kho</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#"><i class="fa fa-table"></i> Phòng bàn</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-exchange"></i> Giao dịch
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Hoá đơn</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-reply-all"></i> Trả hàng</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-share-square-o"></i> Nhập hàng</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-share-square"></i>Trả hàng nhập</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-recycle"></i> Xuất huỷ</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-male"></i> Đối tác
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Khách hàng</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-undo"></i> Nhà cung cấp</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-tie"></i> Nhân viên
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Nhân viên</a>
                                    <a class="dropdown-item" href="#">Chấm công</a>
                                    <a class="dropdown-item" href="#">Bảng tính lương</a>
                                    <a class="dropdown-item" href="#">Thiết lập hoa hồng</a>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-usd"></i> Sổ quỹ</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bar-chart"></i> Báo cáo
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#"><i class="fa fa-pie-chart"></i> Cuối ngày</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-clipboard"></i> Bán hàng</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-cube"></i> Hàng hoá</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Khách hàng</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-undo"></i> Nhà cung cấp</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-male"></i> Nhân viên</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-slideshare"></i> Kênh bán hàng</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-line-chart"></i> Tài chính</a>
                                </div>
                            </li>
                        </ul>
                        <!-- <form class="form-inline my-2 my-lg-0">
                          <button class="btn btn-outline-success my-2 my-sm-0 btn-main-nav-item-right" type="submit"><i class="fa fa-calendar-check"></i> Lễ tân</button>
                          <button class="btn btn-outline-success my-2 my-sm-0 btn-main-nav-item-right" style="background-color: green;" type="submit"><i class="fa fa-concierge-bell"></i> Nhà bếp</button>
                          <button class="btn btn-outline-success my-2 my-sm-0 btn-main-nav-item-right" type="submit"><i class="fa fa-file-edit"></i> Thu ngân</button>
                        </form> -->
                        <ul class="navbar-nav" data-hover="dropdown">
                            <li class="nav-item" style="background: #2375b8; padding: 4px 6px; cursor: pointer;">
                                <a class="nav-link">
                                    <i class="fa fa-calendar"></i> Lễ tân
                                </a>
                            </li>
                            <li class="nav-item" style="background-color: #4bac4d; padding: 4px 6px; cursor: pointer;">
                                <a class="nav-link">
                                    <i class="fa fa-bell"></i> Nhà bếp
                                </a>
                            </li>
                            <li class="nav-item" style="background: #2375b8; padding: 4px 6px; cursor: pointer;">
                                <a class="nav-link">
                                    <i class="fa fa-file"></i> Thu ngân
                                </a>
                            </li>
                        </ul>
                    </div>

                </nav>

            </div>
            <div class="main-content-app">
                <div class="side_bar-wrapper">
                    <div class="item-filter-sidebar">
                        <div class="title-item-sidebar">
                            <span>Tìm kiếm</span>
                        </div>
                        <div class="content-item-sidebar">
                            <input style="width: 100%;" class="input-search-filter form-control" type="text" placeholder="Theo mã đơn hàng">
                        </div>
                    </div>
                    <div class="item-filter-sidebar">
                        <div id="order-type" class="title-item-sidebar">
                            <span>Loại thực đơn</span>
                            <i id="icon-collapse-order-type" class="fa fa-chevron-circle-down icon-collapse-arrow"></i>
                        </div>
                        <div id="content-order-type" class="content-item-sidebar">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Đồ ăn</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Đồ uống</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Khác</label>
                            </div>
                        </div>
                    </div>
                    <div class="item-filter-sidebar">
                        <div id="category-pro" class="title-item-sidebar">
                            <span>Loại hàng</span>
                            <i id="icon-collapse-category-pro" class="fa fa-chevron-circle-down icon-collapse-arrow"></i>
                        </div>
                        <div id="content-category-pro" class="content-item-sidebar">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheckCategory1">
                                <label class="custom-control-label" for="customCheckCategory1">Hàng hoá</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheckCategory2">
                                <label class="custom-control-label" for="customCheckCategory2">Chế biến</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheckCategory3">
                                <label class="custom-control-label" for="customCheckCategory3">Dịch vụ</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheckCategory4">
                                <label class="custom-control-label" for="customCheckCategory4">Combo - đóng gói</label>
                            </div>
                        </div>
                    </div>
                    <div class="item-filter-sidebar">
                        <div id="group-pro" class="title-item-sidebar">
                            <span>Nhóm hàng</span>
                            <i id="icon-collapse-group-pro" class="fa fa-chevron-circle-down icon-collapse-arrow"></i>
                        </div>
                        <div id="content-group-pro" class="content-item-sidebar">
                            <div class="input-search-list-type-group">
                                <div class="form-group has-search input-group" style="margin-bottom: 0;">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" class="input-search-filter form-control" placeholder="Tìm kiếm nhóm hàng">
                                </div>
                            </div>
                            <ul class="list-type-group">
                                <li class="item-group-type">
                                    <div> Tất cả</div>
                                    <div class="icon-edit-type-group"><i class="fa fa-pencil"></i></div>
                                </li>
                                <li class="item-group-type">
                                    <div>BIA & THUỐC LÁ</div>
                                    <div class="icon-edit-type-group"><i class="fa fa-pencil"></i></div>
                                </li>
                                <li class="item-group-type">
                                    <div>CLASSIC COCKTAILS</div>
                                    <div class="icon-edit-type-group"><i class="fa fa-pencil"></i></div>
                                </li>
                                <li class="item-group-type">
                                    <div>MÓN KHAI VỊ</div>
                                    <div class="icon-edit-type-group"><i class="fa fa-pencil"></i></div>
                                </li>
                                <li class="item-group-type">
                                    <div>SÚP</div>
                                    <div class="icon-edit-type-group"><i class="fa fa-pencil"></i></div>
                                </li>
                                <li class="item-group-type">
                                    <div>TEA</div>
                                    <div class="icon-edit-type-group"><i class="fa fa-pencil"></i></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-filter-sidebar">
                        <div id="inventory-pro" class="title-item-sidebar">
                            <span>Tồn kho</span>
                            <i id="icon-collapse-inventory-pro" class="fa fa-chevron-circle-down icon-collapse-arrow"></i>
                        </div>
                        <div id="content-inventory-pro" class="content-item-sidebar">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">Tất cả</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Dưới định mức tồn</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline3" name="customRadioInline3" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline3">Vượt định mức tồn</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline4" name="customRadioInline4" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline4">Còn hàng trong kho</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline5" name="customRadioInline5" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline5">Hết hàng trong kho</label>
                            </div>
                        </div>
                    </div>
                    <div class="item-filter-sidebar">
                        <div class="title-item-sidebar">
                            <span>Lựa chọn hiển thị</span>
                        </div>
                        <div class="content-item-sidebar">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline6" name="customRadioInline6" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline6">Hàng đang kinh doanh</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline7" name="customRadioInline7" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline7">Hàng ngừng kinh doanh</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline8" name="customRadioInline8" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline8">Tất cả</label>
                            </div>
                            <div class="form-inline">
                                <label for="numberRecord">Số bản ghi: </label>
                                <input value="15" style="width:100px" type="number" id="numberRecord" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="working_space-wrapper">
                    @RenderBody()
                </div>

            </div>

            <div class="footer-app">
                <span>Copyright AT Solution 2020</span>
            </div>
            <button onclick="topFunction()" id="myBtnScrollTop" title="Go to top"><i class="fa fa-angle-up"></i></button>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>


    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery-dateformat.min.js"></script>


    <script src="~/lib/jquery-confirm-3.3.2/jquery-confirm.min.js"></script>

    @RenderSection("Scripts", required: false)
    <script src="~/js/_LayoutDesign.js"></script>
    <script src="~/lib/url.min.js"></script>

</body>
</html>
